:root {
  --bg: #0f1724;
  --card: #0b1220;
  --testcard: rgb(48, 12, 48);
  --text: #e6edf3;
  --muted: #98a0ad;
  --accent: #38bdf8; 
  --shadow: rgba(0,0,0,0.4);
  --width: 1150px;
  --testbg: rgb(29, 7, 29);
}


body {
  background-color: var(--bg);
  font-family: 'Bitcount Single';
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.card {
  background-color: var(--card);
}

.card h2 {
  font-weight: 400;
}

section.profile-card {
  width: var(--width);
  height: 150px;
  margin-top: 100px;
  border-radius: 20px;
  box-shadow: 0 6px 18px var(--shadow);
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

div.greet {
  width: 40%;
  height: 100%;
  display: flex;
  padding-left: 20px;
}

.pfp {
  width: 18%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.pfp img {
  width: 100%;
  border-radius: 50%;
  border: solid 2px cyan;
}

.parags {
  width: 82%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.parags h2 {
  margin: 0;
  font-weight: 0;
  color: var(--accent);
}

.parags p {
  margin: 0;
  color: white;
}

div.stats {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.profile-stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.profile-stat h2, .profile-stat p {
  margin: 0;
}

div.snapshots {
  width: var(--width);
  height: auto;
  display: flex;
  gap: 40px;
}

.snapshots .card {
  flex: 1;
  height: auto;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 30px 30px;
  border-radius: 20px;
  justify-content: start;
  box-shadow: 0 6px 18px var(--shadow);
}

.card .card-thumbnail {
  height: 200px;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.card .info {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.info.challenge {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info .prog-btn {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.prog-btn progress {
  width: 55%;
  height: 18px;
}

.continue-btn {
  background-color: var(--accent);
  border: none;
  border-radius: 3px;
  height: 30px;
  color: black;
  font-family: 'Bitcount Single';
  font-size: 18px;
  font-weight: 500;
  width: auto;
  padding: 0 15px;

  cursor: pointer;
}

.card2 .card-thumbnail {
  height: 230px;
}

.card2 .module {
  font-size: 23px;
}

.card2.locked {
  position: relative;
  filter: grayscale(100%) brightness(0.6);
  opacity: 0.7;
  pointer-events: none;
}

.stats-overview {
  width: var(--width);
  height: 180px;
  margin-top: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 6px 18px var(--shadow);
}

.stats-overview h2 {
  margin: 20px 0 0 20px;
  color: var(--accent);
}

.stats-overview .stats {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0 40px;
}

.stat {
  flex: 1;
}

.card2.locked::after {
  content: attr(data-locked-text); /* dynamically controlled by EJS */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  color: white;
  background: rgba(0,0,0,0.6);
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  border: solid 1px gray;
  white-space: pre-line; /* allows multi-line text if needed */
}