:root {
  --bg: #0f1724;
  --card: #0b1220;
  --text: #e6edf3;
  --muted: #98a0ad;
  --accent: #38bdf8;
  --shadow: rgba(0,0,0,0.4);
  --width: 1350px;
}


body {
  background-color: var(--bg);
  font-family: 'Bitcount Single';
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.profile-card {
  width: var(--width);
  height: 150px;
  background-color: var(--card);
  margin-top: 100px;
  border-radius: 20px;
  box-shadow: 0 6px 18px var(--shadow);
  display: flex;
  justify-content: space-between;
}

div.greet {
  width: 40%;
  height: 100%;
  display: flex;
  padding-left: 20px;
}

.pfp {
  width: 18%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.pfp img {
  width: 100%;
  border-radius: 50%;
  border: solid 2px cyan;
}

.parags {
  width: 82%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.parags h2 {
  margin: 0;
  font-weight: 0;
  color: var(--accent);
}

.parags p {
  margin: 0;
  color: white;
}

div.stats {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.profile-stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.profile-stat h2, .profile-stat p {
  margin: 0;
}

div.snapshots {
  width: var(--width);
  height: 250px;
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.snapshots .card1 {
  flex: 1;
  height: 100%;
  background-color: var(--card);
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0 30px;
  border-radius: 20px;
  justify-content: center;
  box-shadow: 0 6px 18px var(--shadow);
}

.card1 h2, .card2 h2 {
  margin-bottom: 10px;
  margin-top: 0;
  color: var(--accent);
}

.card1 p, .card2 p {
  font-size: 1.2rem;
  margin: 10px 0;
  text-align: start;
}

.card1 progress {
  width: 100%;
  height: 20px;
  margin: 10px auto;
}

.card1 button, .card2 button {
  width: 150px;
  background-color: var(--accent);
  border-radius: 10px;
  border-style: none;
  font-weight: bold;
  padding: 10px;
  width: 150px;
}

.snapshots .card2 {
  flex: 1;
  height: 100%;
  background-color: var(--card);
  color: white;
  border-radius: 20px;
  box-shadow: 0 6px 18px var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
}

.card2 button {
  margin-top: 15px;
}

.stats-overview {
  background-color: var(--card);
  width: var(--width);
  height: 180px;
  margin-top: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 6px 18px var(--shadow);
}

.stats-overview h2 {
  margin: 20px 0 0 20px;
  color: var(--accent);
}

.stats-overview .stats {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0 40px;
}

.stat {
  flex: 1;
}