
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(40, 9, 40);
  color: rgb(128, 28, 128);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.preloader p {
    font-size: 50px;
    font-style: italic;
}

#bg-video {
  position: fixed;
  z-index: -1;
  height: 100vh;
  min-width: 100%;
  object-fit: cover;
}

.container {
    display: flex;
    height: 85%;
    width: 95%;
}

.greet {
    color: rgb(255, 255, 255);
    width: 50%;
    display: flex;
    font-weight: 300;
    flex-direction: column;
    margin-left: 20px;
    justify-content: center;
}

.greet p {
    margin:0 10px 0 10px;
    font-family: 'Bitcount Single';
}

p.first, p.second {
    white-space: nowrap;
}

p.first {
    margin-bottom: -30px;
    font-size: 8.5vw;
    font-weight: 300;
}

p.second {
    font-size: 5.9vw;
}

p.third {
    font-size: 2.5vw;
}

p.fourth {
    margin-top: 20px;
    font-size: 1.2vw;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.btn button {
    width: 60%;
    height: 15%;
    border-radius: 30px;
    background-color: #38bdf8;
    color: black;
    font-size: 70px;
    box-shadow: 0 0 60px black;
    font-family: 'Bitcount Single';
    letter-spacing: 5px;
    cursor: pointer;
    transition: transform 0.2s;
    font-style: italic;
    outline: none;
    border-style: none;
    opacity: 1;
    max-width: 350px;
    min-width: 230px;
    -webkit-tap-highlight-color: transparent;
}

.btn button:hover {
    transform: scale(1.1);
}

.btn button:active {
    box-shadow: 0 0 100px black;
    transform: scale(1.08) rotate(2deg);
    background: #38bdf8;
    opacity: 0.8;
}

@media (max-width: 1300px) {

    .container {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .greet {
        width: 100%;
        margin-left: 0;
        align-items: center;
        height: 19vw;
        max-height: none;
        padding: 0;
    }

    .h1 {
        display: flex;
    }

    p.first, p.second {
        font-size: 7vw;
    }


    p.first {
        margin-right: 30px;
    }

    p.third {
        font-size: 2.8vw;
        
    }

    p.fourth {
        font-size: 1.5vw;
        max-width: 50%;
        display: none;
    }

    .btn {
        width: 100%;
    }

    .btn button {
        height: 70px;
        width: 150px;
        font-size: 50px;
        border-radius: 20px;
    }
}

@media (max-width: 992px) {

    .btn button {
        font-size: 5vw;
        height: 7vw;
    }
}

@media (max-width: 768px) {
    body {
        background-color: red;
        align-items: start;
    }

    video {
        display: none;
    }

    .container {
        background-color: green;
    }

    

}

/* @media (max-width: 576px) {
    body {
        
    }

    video {
        
    }
} */


/*

@keyframes popup {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;;
    }
}

@keyframes hide {
    to {
        opacity: 0;
    }
}

@keyframes slideUp {
    to {
        transform: translate(-115vh, -45vh) scale(0.5);
        opacity: 1;
    }
}

@keyframes blink {
    0%, 100% {
        border-color: white
    }
    50% {
        border-color: transparent;
    }
}

@keyframes replace {
    0% {
        width: 7em;
        margin-left: 34px;
    }
    50% {
        width: 0em;
        margin-left: 141px;
        font-family: 'Bitcount Single';
    }
    60% {
        font-family: 'Russo One';
    }
    100% {
        width: 7em;
        margin-left: 34px;
        font-family: 'Russo One';
    }
} */