<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PhishGuard | CyberSmart</title>
    <link rel="stylesheet" href="./css/dashboard.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Russo+One&display=swap" rel="stylesheet" />
</head>
<body>
    <header>
        <a href="index.html" class="logo-link">
            <h1>CyberSmart</h1>
        </a>
        <nav>
            <a href="dashboard.html">Dashboard</a>
            <a href="training.html">Training</a>
            <a href="challenge.html">Challenge</a>
            <a href="PhishGuard.html" class="active">PhishGuard</a>
        </nav>
    </header>

    
    <script src="./js/phishguard.js"></script>
</body>
</html>
