<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cybersecurity Training</title>
  <link rel="stylesheet" href="./css/training.css">
</head>
<body>
  <div class="container">
    <div class="modules active">
      <p>Introduction to Cybersecurity</p>
      <progress value="0" max="100"></progress>
      <button class="active">Start Module</button>
    </div>

    <div class="modules locked">
      <p>Understanding Threats</p>
      <progress value="0" max="100"></progress>
      <button>
        <img class="coin-icon" src="coin-icon.png" alt="icon">
        50 coins
      </button>
    </div>

    <div class="modules locked">
      <p>Safe Practice for Users</p>
      <progress value="0" max="100"></progress>
      <button>
        <img class="coin-icon" src="coin-icon.png" alt="icon">
        50 coins
      </button>
    </div>

    <div class="modules locked">
      <p>Network & Online Safety</p>
      <progress value="0" max="100"></progress>
      <button>
        <img class="coin-icon" src="coin-icon.png" alt="icon">
        50 coins
      </button>
    </div>

    <div class="modules locked">
      <p>Incident Response & Awareness</p>
      <progress value="0" max="100"></progress>
      <button>
        <img class="coin-icon" src="coin-icon.png" alt="icon">
        50 coins
      </button>
    </div>

    <div class="modules locked">
      <p>Practice & Challenges</p>
      <progress value="0" max="100"></progress>
      <button>
        <img class="coin-icon" src="coin-icon.png" alt="icon">
        50 coins
      </button>
    </div>
  </div>
</body>
</html>
